.App {
  text-align: center;
}

body,
button {
  color: rgb(231, 231, 231);
  letter-spacing: 2px;
  /* text-shadow: 3px 3px 6px rgb(48, 22, 109); */
  outline: none;
}

body {
  background: radial-gradient(
    circle,
    rgb(153, 102, 255) 0%,
    rgb(112, 51, 255) 100%
  );
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo {
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.dice {
  background: rgb(255, 255, 255, 0.8);
  width: 200px;
  height: 200px;
  border-radius: 18%;
  margin: 13% auto 5% auto;
  box-shadow: 0px 0px 20px rgb(78, 68, 100, 0.8);
  /* border: 3px solid rgb(226, 226, 226); */
  cursor: pointer;
  position: relative;
}

.bgdice1 {
  background: rgb(255, 255, 255, 0.05);
  width: 400px;
  height: 400px;
  border-radius: 18%;
  position: absolute;
}

.bgdice2 {
  background: rgb(255, 255, 255, 0.2);
  width: 100px;
  height: 100px;
  border-radius: 18%;
  left: 0;
  top: 0;
  position: absolute;
}

.bgdice3 {
  background: rgb(255, 255, 255, 0.05);
  width: 400px;
  height: 400px;
  border-radius: 18%;
  right: 0;
  bottom: 0;
  position: absolute;
}

.bgdice4 {
  background: rgb(255, 255, 255, 0.2);
  width: 100px;
  height: 100px;
  border-radius: 18%;
  right: 0;
  top: 0;
  position: absolute;
}

.rollBtn {
  background: transparent;
  padding: 1.6% 3%;
  margin: 5px;
  border-radius: 50px;
  border: 1px solid rgb(153, 153, 153);
  cursor: pointer;
  box-shadow: 0px 0px 20px rgb(78, 68, 100, 0.4);
  position: relative;
}
